{% extends 'base.html.twig' %}

{% block title %}QR Code Generator{% endblock %}

{% block body %}

<div class="container">
    <h1>QR Code Generator</h1>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.search, {'attr': {'class': 'form-control', 'placeholder': 'Générer un QRCode TikTok' }}) }}
                <hr>
                <button type="submit" class="btn btn-success btn-block">Générer</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qrcode">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}